/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}
  @each $button, $color in $button{
    .#{$button}{
      background-color: $color;
    }
  }
  @each $button, $color in $button{
    .#{$button}:hover{
      background-color: lighten($color, 15%)
    }
  }
  
